@tailwind base;
@tailwind components;
@tailwind utilities;
  
body{
  background-image: linear-gradient(to left,#1f1e1e ,black ,black,black,black,black ,#1f1e1e );
  color: white;
  font-family: 'Syncopate', sans-serif; 
}

.boby {
    background: radial-gradient(
      circle closest-corner at center 125px,
      #222,
      #222,
      rgb(0, 0, 0) 40%
    ) no-repeat;
    text-align: center;
  }
.background{
    background: radial-gradient(
        circle farthest-corner at center center,
        #ccc,
        #333,
       
        
        #333
      ) no-repeat;
  
      font-family: 'Syncopate', sans-serif; 
      -webkit-text-fill-color: transparent;
     
      -webkit-background-clip: text;
}
.clip{
}